body {
  min-height: 100vh;
  background-color: #000;
}

#root {
  min-height: 100vh;
}

.background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/background.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}